      <section class="ring_section layout_padding">
    <div class="design-box">
       {% if section.settings.image_picker_one_id != blank %}
      <img src="{{ section.settings.image_picker_one_id | image_url: width: 1000 }}" alt="">
      {% endif %}
    </div>
    <div class="container">
      <div class="ring_container layout_padding2">
        <div class="row">
          <div class="col-md-5">
            <div class="detail-box">
               {% if section.settings.header_id != blank %}
              <h4>
                 {{ section.settings.header_id }}
              </h4>
              {% endif %}
               {% if section.settings.header_id != blank %}
              <h2>
                 {{ section.settings.header_id }}
              </h2>
              {% endif %}
              <a href="/collections/all">
                Buy Now
              </a>
            </div>
          </div>
          <div class="col-md-7">
            <div class="img-box">
              {% if section.settings.image_picker_two_id != blank %}
           <img src="{{ section.settings.image_picker_two_id | image_url: width: 1000 }}" alt="">
           {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% schema %}
  {
    "name": "Special Wedding-Ring",
    "settings": [
       {
          "type":"text",
          "id":"header_id",
          "label": "special Wedding Ring"
        },
      {
      "type":"image_picker",
     "id":"image_picker_one_id",
     "label":"Product Image"
      },
      {
      "type":"image_picker",
     "id":"image_picker_two_id",
     "label":"Product Image"
      },
      {
          "type":"textarea",
          "id":"paragraph_id",
          "label": "About Jewellery"
        }
    ],
    "presets":[
      {
        "name":"special Wedding Ring"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}